@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom base */
@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

/* Custom components */
@layer components {
  .btn-custom {
    @apply px-4 py-2 rounded-lg bg-yellow-500 text-white font-bold;
  }
}

/* Custom utilities */
@layer utilities {
  .skew-10 {
    transform: skewY(-10deg);
  }
}
